{% extends "base.html" %}

{% block head %}
<title>StreamShare! | Search Result</title>
{% endblock %}
    
{% block content %}
<div class = 'mx-5'>
    <h2>found {{number_found}} results for {{searchText}}</h2>
    <div id = "img-pane" class = "row text-center text-lg-left mt-3">
    {% for stream in search_result %}
        <div class="col-lg-3 col-md-4 col-6">
            <a href={{redirect_url[loop.index0]}} class="d-block mb-4">
                    <img class="img-fluid img-thumbnail" src={{stream.cover}} alt="">
                    <div class = "centered">{{stream.name}}</div>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
