{% extends "base.html" %}

{% block head %}
    <meta property="fb:app_id" content="388925201690287"/>
    <title>StreamShare! | Social</title>
{% endblock %}
    
{% block content %}
<script>
window.fbAsyncInit = function() {
    FB.init({
    appId      : '388925201690287',
    cookie     : true,
    xfbml      : true,
    version    : 'v3.2'
    });
    
    FB.AppEvents.logPageView();   
    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        document.getElementById('LoginPromt').innerHTML = 'You have successfully logged in with Facebook!'
      } else {
        document.getElementById('LoginPromt').innerHTML = 'Please Login with Facebook!'
      }
    });
    FB.Event.subscribe("auth.statusChange", function(response){
        if (response.status == 'connected')
            document.getElementById('LoginPromt').innerHTML = 'You have successfully logged in with Facebook!';
        else
            document.getElementById('LoginPromt').innerHTML = 'Please Login with Facebook!';
    });
};


(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


</script>
<div class = 'mx-5'>
    <h3 id='LoginPromt'></h3>
    <div class="fb-login-button col-12 mt-2" data-size="large" data-button-type="continue_with" data-auto-logout-link="true" data-use-continue-as="true"></div>
    <div class="fb-comments col-12" data-href="https://aptproj.appspot.com" data-numposts="5"></div>
</div>


{% endblock %}