{% extends "base.html" %}
{% block head %}
<title>StreamShare! | {{streamId}}</title>
<script src="/static/js/dropzone.js" type="text/javascript"></script>
<script>
    // var marker = {{imageUrls|length}}
    var more = {{more}}
    var cursor = '{{cursor}}'
    $(function() {
        $("#more-image").click(
            function(){
                if (more) {
                    $.ajax({
                        type: "GET",
                        url: '/loadMore?streamid={{quotedStreamId}}&cursor='+cursor,
                        success: function(data) {
                            data.images.forEach(
                                function(img) {
                                    $("#img-pane").append('<div class="col-lg-3 col-md-4 col-6"><a href=' + img
                                        + ' class="d-block mb-4 h-100"><img class="img-fluid img-thumbnail" src='
                                        + img + ' alt=""></a></div>');
                                }
                                )
                                // if (data.images.length != 0) {
                                //     marker += 4;
                                // }
                                more = data.more;
                                cursor = data.cursor;
                            },
                            dataType: "json"
                        })
                }
                }
                )
            })
    
    $(function() {
        $("#geo").click(
            function(){
               window.location.href="/geoview?streamid={{quotedStreamId}}"
            }
        )
    })    
    {% if isOwner %}
        var lat = 0;
        var lon = 0;
        var unknownLoc = true;
        function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                lat = position.coords.latitude;
                lon = position.coords.longitude;
                unknownLoc = false;
            });
        }
        }
        getLocation()

        Dropzone.options.mydrop = {
            autoProcessQueue: false,
            paramName: "file",
            addRemoveLinks: true,
            dictRemoveFile: "x",
            maxFilesize: 4,
            parallelUploads: 10,
            // maxFiles: 10,
            acceptedFiles: "image/*",

            init: function() {
                var submitButton = document.querySelector("#submit-image");
                myDropzone = this;
                
                myDropzone.on("sending", function(file, xhr, formData) {
                    formData.append("lat", lat);
                    formData.append("lon", lon);
                    formData.append("unknownLoc", unknownLoc);
                })
                submitButton.addEventListener("click", function() {
                    myDropzone.processQueue(); // Tell Dropzone to process all queued files.
                });
                myDropzone.on("processing", function() {
                    myDropzone.options.autoProcessQueue = true;
                })
                myDropzone.on("complete", function() {
                    if (myDropzone.getUploadingFiles().length == 0 &&
                        myDropzone.getQueuedFiles().length == 0) {
                            var imgcount=myDropzone.getAcceptedFiles().length
                            $.ajax({
                            type: "GET",
                            url: '/updateStream?streamid={{quotedStreamId}}&length='+imgcount.toString(),
                            });
                            setTimeout(function () {
                                window.location.reload();
                            }, 100);
                        }
                });
                
            }
        }
    {% endif %}
        </script>
    {% if isOwner %}
    <link type="text/css" rel="stylesheet" href="/static/css/dropzone.css">
    {% endif %}
    <!-- [START css] -->
    <style type="text/css">
            .dz-remove
            {
                display:inline-block !important;
                width:1.2em;
                height:1.2em;
                
                position:absolute;
                top:5px;
                right:5px;
                z-index:1000;
                
                font-size:1.2em !important;
                line-height:1em;
                
                text-align:center;
                font-weight:bold;
                border:1px solid gray !important;
                border-radius:1.2em;
                color:rgb(250, 16, 16);
                background-color:white;
                opacity:.5;
            }
            
            .dz-remove:hover
            {
                text-decoration:none !important;
                opacity:1;
            }
            
            img 
            {
                max-height : 300px;
            }
            
        </style>
    <!-- [END css] -->
{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=388925201690287&autoLogAppEvents=1"></script>

<div class = 'mx-5'>
    <h1>{{streamId}}</h1>
    <div id = "img-pane" class = "row text-center text-lg-left">
    {% for image in imageUrls %}
        <div class="col-lg-3 col-md-4 col-6">
            <a href="{{image}}" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src={{image}} alt="">
            </a>
        </div>
    {% endfor %}
    </div>
    
    <button type="button" class="btn btn-primary my-3" id="more-image">More</button>
    <button type="button" class="btn btn-primary my-3" id="geo">GeoView</button>
    <div class="fb-share-button" style="top: 5px;" data-href="https://aptproj.appspot.com/view?streamid={{quotedStreamId}}" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

    {% if isOwner %}
    <form action="/uploadImage?streamid={{quotedStreamId}}"
            class="dropzone"
            id="mydrop">
    </form>
    <button class="btn btn-primary my-3" id="submit-image">Submit</button>
    {% elif not isSub %}
    <form action='/addsub' method = 'post'>
        <button name="subscribe" class="btn btn-primary" value={{quotedStreamId}} type="submit">Subscribe</button>
    </form>
    {% else %}
    <form action='/removesub?single=true' method ='post'>
        <button name="unsubscribe" class="btn btn-primary" value={{quotedStreamId}} type="submit">Unsubscribe</button>
    </form>
    {% endif %}
</div>


<form id="test"></form>
{% endblock %}